body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    background-color: blueviolet;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -mozila-transition: background 0.6s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
    background-color: steelblue;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 2em;
}

#panel {
    height: 30px;
    background-color: white;
    text-align: center;
}

.selected {
    background-color: steelblue;
    color: white;
}

button {
    height: 100%;
    border: none;
    background: none;
    text-transform: uppercase;
    margin: 0 0;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#message {
    width: 20%;
    display: inline-block;
}