<%- include("partials/header"); %> 

<h1>This is the home page!</h1>

<img src="https://i.pinimg.com/originals/30/6a/7e/306a7ee9b017127f3c36d793d7cfbd6f.jpg" alt="">

<%- include("partials/footer"); %> 